<%= render partial: 'status', locals: {user: current_user} %>

<p><%= paginate @posts %></p>
<% @posts.each do |post| %>
    <p><%= post.body %> Written by: <%= post.user.name %></p>

    <%= render partial: 'follow', locals: {post: post, user: current_user} %>

<% end %>
