<article class="col-xs-12 col-sm-6">

	<h2>Listing Posts</h2>

	<% if defined?(notice.length) %>
		<div class="alert alert-info" role="alert">
			<%= notice %>
		</div>
	<% end %>
<% if current_user %>
  <p> <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <p> <%= link_to 'Sign In', new_user_session_path %> </p>
  <p> <%= link_to 'Register', new_user_registration_path %> </p>
<% end %>
<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<%= paginate @posts %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.body %> Written by: <%= post.user.name %></td>
        <% if current_user%>
          <% if post.user_id != current_user.id %>
            <td>  <%= button_to 'Stop Following', unfollow_path(:id => post.id) %> </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


	<br>

	<%= button_to('New Post', new_post_path, :class => 'btn btn-large btn-primary') %>
	<%= button_to('All User Posts', allposts_path, method: :get, :class => 'btn btn-large btn-default') %>
	<%= button_to('Sign Out', destroy_user_session_path, method: :delete, :class => 'btn btn-large btn-default') %>

</article>
<%= link_to 'New Post', new_post_path %>
<% if current_user %>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
<% end %>
<%= link_to 'All User Posts', allposts_path%>
